.TrendingGamesWrapper{
    padding: 40px 80px;
    margin-bottom: 5rem;
}
.TrendingGamesYaxis{
    display: flex;
    flex-direction: column;
}


.TrendingGames_GamesCardsWrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}