:root{
    --primary: #ee626b;
    --sec: #0071F8;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn-primary{
    background-color: var(--primary);
    color: #fff;
    transition: all .3s;
}
.btn-large{
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    padding: 0px 25px;
    width: auto;
}
.btn-mid{
    height:40px;
    font-size:12px;
    padding:0 15px;
    line-height:40px
}

.btn:hover{
    background-color: var(--sec);
}
.btn a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease-out;
}