.footer{
    /* position: fixed;
    bottom: 0; */
}
.footer_container{
    color: white;
    background: url('../../assets/images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}