.title{
    font-size: 36px;
    font-weight: 700;
    margin: 0;

}

.TrendingGamesTitle_Button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3rem 0;
}
